main {
  display: flex;
  flex-direction: column;
  place-items: center;
}

p{
  text-align: justify;
  justify-content: center;
  margin: 10px;
  padding: 10PX;
  width: 40%;
  height: auto;
}

img{
  width: 500px;
  height: 500px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f5f2f2;
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}
button:hover {
  border-color: #d80000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}